<div class="container-fluid modal-header fig-banner"
     style="background-image: url(
     {% if figure.images is empty %}
         {{ asset('img/uploaded/default.jpg') }}
     {% else %}
        {% for image in figure.images %}
            {% if image.primary == true %}
                {{  asset('img/uploaded/') }}{{ image.path }}
            {% endif %}
        {% endfor %}
     {% endif %}
     );"
>
    <div class="row header-link">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="fig-link">
                <a id="edit"
                   href="{{ path('app_figure_update', {'slug': figure.slug}) }}"
                   class="update-modal"
                   data-toggle="modal"
                   data-target="#figureModal">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                {{ include('figure/_delete.html.twig') }}
            </div>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row jumbotron fig-title">
        <div class="col-lg-12 text-center">
            <h3>{{ figure.name }}</h3>
        </div>
    </div>
</div>
<div class="container modal-body">
    <div class="row">
        <div class="col-md-6 fig-img">
            <div class="row justify-content-center">
                {% for image in figure.images %}
                    {% if image.primary == false %}
                        <img class="col-lg-6 col-md-12 img d-none" src="{{ asset('img/uploaded/') }}{{ image.path }}" alt="Trick Image">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 fig-vid">
            <div class="row justify-content-center">
                {% for video in figure.videos %}
                    <iframe class="col-lg-6 col-md-12 vid d-none"
                            frameborder="0"
                            src="{{ video.url }}"
                            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 text-center">
            <button type="button" id="load-media" class="btn btn-light">Voir Media</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="fig-desc text-center m-3">
                {{ figure.description }}
            </div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="fig-infos col-md-12 text-center">
                <span class="badge badge-pill badge-warning">
                    Catégorie : {{ figure.category.name }}
                </span>
            <span class="badge badge-pill badge-dark">
                    Auteur : {{ figure.snowboarder.username }}
                </span>
            <span class="badge badge-pill badge-secondary">
                    Créé le : {{ figure.createdAt ? figure.createdAt|date('d-m-Y à H:i') : '' }}
                </span>
            <span class="badge badge-pill badge-secondary">
                    Edité le : {{ figure.updatedAt ? figure.updatedAt|date('d-m-Y à H:i') : 'jamais' }}
                </span>
        </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="comment-form">
            <div class="row justify-content-center mt-4">
                {% for messages in app.flashes(['com-success']) %}
                    {% for message in messages %}
                        <div class="flash-notice">
                            {{ message|trans(messages, 'messages') }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row comment justify-content-center">
                {{ form_start(commentForm, {'attr': {'action': '/tricks/' ~ figure.slug, 'id': 'com-form', 'class': 'col-lg-6 text-center'}}) }}
                    {{ form_widget(commentForm.content) }}
                    <button class="btn btn-light">{{ button_label|default('Commenter') }}</button>
                {{ form_end(commentForm) }}
            </div>
        </div>
    {% endif %}
    <div class="container container-comment pt-2">
        {% for comment in figure.comments|reverse %}
            <div class="row comment justify-content-center d-none">
                <div class="card-body msg_card_body col-lg-6 col-md-12 pb-0">
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="{{ comment.snowboarder.email|grAvatar }}"
                                 class="rounded-circle user_img_msg"
                                 alt="user-avatar"
                            >
                        </div>
                        <div class="flex-column">
                            <div class="msg_author">
                                Par : {{ comment.snowboarder.firstName }} {{ comment.snowboarder.LastName }}
                            </div>
                            <div class="msg_container">
                                {{ comment.content }}
                            </div>
                            <div class="msg_time">
                                Le : {{ comment.createdAt|date('d-m-Y à H:i') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <button type="button" id="load-comment" class="btn btn-light">Afficher Plus</button>
        </div>
    </div>
</div>
<div class="container modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
</div>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/load-media.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/load-more-comment.js') }}"></script>
{% endblock %}
